[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.5"

[packages]
docker = "==3.0.0"
pytest = "*"
pytest-timeout = "*"
websocket-client = "*"
"secp256k1" = "*"
"pytest-pep8" = "*"
"pytest-xdist" = "*"
"delayed_assert" = "*"
pylama = "*"
requests = "*"
pytz = "*"
sortedcontainers = "*"
scorum = {ref = "develop", git = "https://github.com/scorum/scorum-py.git", editable = true}

[dev-packages]
